.MainHeader {
    background-color: #000;
    height: 5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p, a {
    color: white;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    font-size: 21px;
}
.Centro {
    display:flex;
    justify-content: center;
    text-align: center;
}
.Centro a {
    color:white;
    text-decoration: none;
}
.Centro a:hover {
    color:red;
}
.Medio {
    margin-left: 10px;
    margin-right: 10px;
}
.Derecha {
    display: flex;
    justify-content: space-evenly;
}
.Derecha a:hover {
    color:red;
}
.Facebook {
    color: #3a3a3a;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Linkedin, .Twitter, .YouTube, .Instagram, .TikTok, .Twitch {
    color: #3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Idioma {
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.PL {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.ENG {
    text-decoration: none;
    color:white;
    font-size: 17px;
}
.Slash {
    color:white;
}
.FotoGrande {
    width: 1473px;
    height: 680px;
}
.Logo2 {
    height: 190px;
    width: 275px;
    position: absolute;
    top: 175px;
    left: 598px;
}
.PAS {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 345px;
    left: 630px;
}
.CRE {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 390px;
    left: 468px;
}
.ROL {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 435px;
    left: 530px;
}
.Flecha {
    display:flex;
    text-decoration: none;
    color: red;
    width: 40px;
    position: absolute;
    top: 570px;
    left: 720px;
}
.BloqueMain {
    background-color: white;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}
.MEET {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    position: absolute;
    top: 920px;
    left: 250px;
    font-weight: 800;
    font-size: 120px;
}
.Boton1 {
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 1210px;
    left: 150px;
    border: 2px solid red;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.BotonA{
    display: flex;
    justify-content: center;
    position: relative;
    top: -7px;
}
.BotonA:hover {
    background-color: red;
    border: 2px solid red;
    margin-top: 3px;
    margin-left: -8px;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.Boton2 {
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 1210px;
    left: 420px;
    border: 2px solid red;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.BotonB {
    display: flex;
    justify-content: center;
    position: relative;
    top: -7px;
}
.BotonB:hover {
    background-color: red;
    border: 2px solid red;
    margin-top: 3px;
    margin-left: -8px;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.JOIN {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    position: absolute;
    top: 920px;
    left: 900px;
    font-weight: 800;
    font-size: 120px;
}
.Boton3 {
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 1210px;
    left: 800px;
    border: 2px solid red;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.BotonC {
    display: flex;
    justify-content: center;
    position: relative;
    top: -7px;
}
.BotonC:hover {
    background-color: red;
    border: 2px solid red;
    margin-top: 3px;
    margin-left: -8px;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.Boton4 {
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 1210px;
    left: 1070px;
    border: 2px solid red;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
.BotonD {
    display: flex;
    justify-content: center;
    position: relative;
    top: -7px;
}
.BotonD:hover {
    background-color: red;
    border: 2px solid red;
    margin-top: 3px;
    margin-left: -8px;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}
h2 {
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
}
.Negro {
    color: #171717;
}
.Negro2 {
    margin-left: 10px;
}
.Rojo {
    color: red;
}
.P1 {
    color: black;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 175px;
    margin-top: -93.5px;
}
.P2 {
    color: black;
    margin-right: 100px;
    margin-left: 10px;
    padding-left: 150px;
    margin-top: -93.5px;
}
.Team {
    height: 500px;
    width: 640px;
    margin-right: 10px;
}
.Join {
    height: 500px;
    width: 640px;
    margin-left: 10px;
}
.Columna1 {
    margin-left: 80px;
}
.BloqueMain2 {
    background-color: #f6f6f6;
    height: 800px;
    display: flex;
}
.STU {
    color: red;
    position: relative;
    top: 20px;
    font-size: 45px;
    font-weight: 800;
}
.CON {
    color: red;
    position: relative;
    top: 20px;
    left: 830px;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
}
.Col1 {
    margin-left: 85px;
}
.Col2 {
    width: 200px;
    position: relative;
    left: -1000px;
    margin-left: 300px;
}
.warsaw, .worclaw, .boston, .cracrow, .vancouver {
    height: 150px;
    width: 450px;
}
.warsaw, .worclaw, .boston{
    margin-top: 20px;
}
.cracrow, .vancouver {
    margin-left: 20px;
}
.war {
    position: absolute;
    top: 1860px;
    left: 280px;
    font-size: 25px;
}
.war2 {
    position: absolute;
    top: 1900px;
    left: 255px;
    font-size: 20px;
}
.war3 {
    position: absolute;
    top: 1925px;
    left: 257px;
    font-size: 20px;
}
.cra {
    position: absolute;
    top: 1860px;
    left: 750px;
    font-size: 25px;
}
.cra2 {
    position: absolute;
    top: 1900px;
    left: 750px;
    font-size: 20px;
}
.cra3 {
    position: absolute;
    top: 1925px;
    left: 740px;
    font-size: 20px;
}
.wor {
    position: absolute;
    top: 2040px;
    left: 280px;
    font-size: 25px;
}
.wor2 {
    position: absolute;
    top: 2085px;
    left: 150px;
    font-size: 20px;
}
.wor3 {
    position: absolute;
    top: 2110px;
    left: 265px;
    font-size: 20px;
}
.van {
    position: absolute;
    top: 2040px;
    left: 750px;
    font-size: 25px;
}
.van2 {
    position: absolute;
    top: 2085px;
    left: 705px;
    font-size: 20px;
}
.van3 {
    position: absolute;
    top: 2110px;
    left: 730px;
    font-size: 20px;
}
.bos {
    position: absolute;
    top: 2210px;
    left: 285px;
    font-size: 25px;
}
.bos2 {
    position: relative;
    top: -100px;
    left: 185px;
    font-size: 20px;
}
.ContenedorFooter {
    background-color: #171717;
    height: 165px;
}
.logo3 {
    height: 87px;
    width: 230px;
    position: relative;
    top: 35px;
    left: 1145px;
}