.MainHeader {
    background-color: #000;
    height: 5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p, a{
    color: white;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    font-size: 21px;
}
.Centro {
    display:flex;
    justify-content: center;
    text-align: center;
}
.Centro a {
    color:white;
    text-decoration: none;
}
.Centro a:hover {
    color:red;
}
.Medio {
    margin-left: 10px;
    margin-right: 10px;
}
.Derecha {
    display: flex;
    justify-content: space-evenly;
}
.Derecha a:hover {
    color:red;
}
.Facebook {
    color: #3a3a3a;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Linkedin {
    color: #3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Twitter {
    color:#3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.YouTube {
    color:#3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Instagram {
    color:#3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.TikTok {
    color:#3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Twitch {
    color:#3a3a3a;
    margin-left: 0px;
    margin-right: 4px;
    border: 1px solid #3a3a3a;
    border-radius: 26px;
    height: 30px;
    width: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Idioma {
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.PL {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.ENG {
    text-decoration: none;
    color:white;
    font-size: 17px;
}
.Slash {
    color:white;
}
.FotoGrande {
    width: 1473px;
    height: 630px;
}
.Logo2 {
    height: 190px;
    width: 275px;
    position: absolute;
    top: 175px;
    left: 598px;
}
.PAS {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 345px;
    left: 630px;
}
.CRE {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 390px;
    left: 468px;
}
.ROL {
    color: white;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 7px;
    position: absolute;
    top: 435px;
    left: 530px;
}
.Flecha {
    display:flex;
    text-decoration: none;
    color: red;
    width: 40px;
    position: absolute;
    top: 570px;
    left: 720px;
}